<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>
<body>
    <h2>Create a shortened link</h2>
    <form method="post" action="/add_link">
        <input type="text" name="long_url" placeholder="long url">
        <input type="text" name="pseudonym" placeholder="pseudonym">
        <select name="type_access">
            <option value="public">public</option>
            <option value="auth">auth</option>
            <option value="private">private</option>
        </select>

        <button type="submit">Add link</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    <h3>Links list:</h3>
    
    {% if data['shortened_links'] %}
    <table border="1">
        <tr>
            <th>shortened</th>
            <th>long</th>
            <th>access</th>
        </tr>
        {% for link in data['shortened_links'] %}
            <tr>
                <td>{{ link.long_url }}</td>
                <td>{{ data['server_url'] + '/' + link.token }}</td>
                <td>
                    <select name="current_type_access">
                        {% for access_type in data['access_types'] %}
                            {% if access_type == link.access_type %}
                                <option value="{{ link.access_type }}" selected>{{ link.access_type }}</option>
                            {% else %}
                                <option>{{ access_type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        The list is empty
    {% endif %}
</body>
</html>