<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('main') }}">Link shortener</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
            <form class="d-flex">
                <a href="{{ url_for('logout') }}" class="link link-danger">Logout</a>
            </form>
          </div>
        </div>
    </nav>
    <div class="container mt-3">
        <form method="post" action="/add_link">
            <div class="form-group">
                <label for="long_url">Long url</label>
                <input type="text" class="form-control" id="long_url" placeholder="Enter the link here" name="long_url">
            </div>
            <div class="form-group mt-3">
                <label for="pseudonym">Pseudonym</label>
                <input type="text" class="form-control" id="pseudonym" placeholder="Pseudonym" name="pseudonym">
            </div>
            <div class="form-group mt-3">
                <label for="pseudonym">Access type</label>
                <select class="form-select" name="type_access">
                    <option value="public">public</option>
                    <option value="auth">auth</option>
                    <option value="private">private</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Shorten URL</button>
           
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flashes mt-3">
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endfor %}
                        </div>
                {% endif %}
            {% endwith %}
        </form>
    </div>

    <div class="container-fluid">
        <h5>Links list:</h5>
    
        {% if data['shortened_links'] %}
        <table class="table table-striped">
            <thead class="table-dark">
                <th>original</th>
                <th>shortened</th>
                <th>pseudonym</th>
                <th>count redirects</th>
                <th>access type</th>
                <th></th>
                <th></th>
            </thead>
            {% for link in data['shortened_links'] %}
                <tr>
                    <td>
                        <a href="{{ link.long_url }}">{{ link.long_url }}</a>
                    </td>
                    <td>
                        <a href="{{ data['server_url'] + '/s/' + link.token }}">{{ data['server_url'] + '/s/' + link.token }}</a>
                    </td>
                    <td>
                        {{ link.pseudonym }}
                    </td>
                    <td>
                        {{ link.count_redirects }}
                    </td>
                    <td>
                        {{ link.access_type }}
                    </td>
                    <td>
                        <a href="{{ data['server_url'] + '/edit/' + link.token}}" class="link-dark"><i class="bi bi-pencil-fill"></i></a>
                    </td>
                    <td>
                        <a href="{{ data['server_url'] + '/delete/' + link.token}}" class="link-danger"><i class="bi bi-x-square-fill"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            The list is empty
        {% endif %}
    </div>
</body>
</html>